/* Warna tulisan navbar */
.navbar-brand {
    color: yellow !important;
  }
  
  /* Responsivitas input pencarian */
  @media (max-width: 768px) {
    .form-control {
      width: 100%; /* Lebar penuh untuk layar kecil */
      margin-bottom: 0.5rem;
    }
    .btn {
      width: 100%; /* Tombol penuh untuk layar kecil */
    }
  }
  